<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDV6dN--IZ2FfK9XALOEKgFkW49Mtao5Xk</string>
	<key>GCM_SENDER_ID</key>
	<string>121429825603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kologsoft.com.raininn</string>
	<key>PROJECT_ID</key>
	<string>raininmall</string>
	<key>STORAGE_BUCKET</key>
	<string>raininmall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121429825603:ios:75d5ff071b77f22c259cf6</string>
</dict>
</plist>